html {
    height: 100%;
    overflow: hidden;

}
body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    height: 100%;
    overflow: auto;
}
.navbar {
    background: #437072;
}
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: magenta;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

h1{
    color: darkmagenta;
    text-align: center;

}
p {
    color: darkred;
    text-align: center;
    padding: 5px 10px 15px 20px;
}
img {

    size: 100;
    width: 100;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div {
      background-image: "url('./images/background_pic.jpg')";
  }

  .main-text{
    padding: 2px;
    margin-left: 80px;
    margin-right: 80px;
  }
